extends ../templates/template
block menu
    - pageActive = 'about'
    include ../includes/main-menu
block title
    hi.title About
    .about
        .about__img.show
            img(src="assets/img/about.jpg" alt="about image 1")
        .about__text.show
            h2 Title 1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa maxime accusantium beatae? Earum ullam accusamus, ut dolorum labore atque ab nobis explicabo similique officiis! Eligendi earum sapiente odio eum rem?
        .about__img
            img(src="assets/img/about2.jpg" alt="about image 2")
        .about__text
            h2 Title 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa maxime accusantium beatae? Earum ullam accusamus, ut dolorum labore atque ab nobis explicabo similique officiis! Eligendi earum sapiente odio eum rem?
        .about__img
            img(src="assets/img/about3.jpg" alt="about image 3")
        .about__text
            h2 Title 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa maxime accusantium beatae? Earum ullam accusamus, ut dolorum labore atque ab nobis explicabo similique officiis! Eligendi earum sapiente odio eum rem?

    .controls
        i.fas.fa-chevron-circle-left#prev
        i.fas.fa-chevron-circle-right#next
